<br/>
<input type='text' autocomplete="off" id='a-operator'/>
<input type='text' autocomplete="off" id='b-operator'/>
<br/>
<br/>
<button type="button" id="sum_nums">Sum</button>
<button type="button" id="difference">Difference</button>
<button type="button" id="multiplication">Multiplication</button>
<button type="button" id="division">Division</button>
<br/>
<br/>
<textarea type="text-area" id="result">
  <%=%>
</textarea>

<script>
$('#sum_nums').click(function () {
  postAction('sum_nums');
});
$('#difference').click(function () {
  postAction('difference');
});
$('#multiplication').click(function () {
  postAction('multiplication');
});
$('#division').click(function () {
  postAction('division');
});

function postAction(operation){
  let a = $('#a-operator').val();
  let b = $('#b-operator').val();
    $.ajax({
    type: "POST",
    url: "/calculations/" + operation,
    data: { calculation: { a: a, b: b, operation: operation } },
    success(data) {
      let operation = "Operation: " + data.calc.a + " / " + data.calc.b + ' \n'
      let result = "Result: " + data.calc.result + ' \n'
      let id = "ID: " + data.calc.id + ' \n'
      let count = 'Count: '+ data.count + ' \n'
      $('#result').val(operation + result + id + count).html();
    }
  })
}
</script>
